
@{
    ViewBag.Title = "HW1";
}

<h2>HW1</h2>
<!DOCTYPE html>
<html>
<body>

    
    
    姓名:
    <input type="text" id="name" name="name" required
           minlength="15" maxlength="55" size="55"><br>
    账号:
    <input type="text" id="name" name="name" required
           minlength="15" maxlength="55" size="55"><br>
    密码:
    <input type="password" id="password" name="name" required
           minlength="15" maxlength="55" size="55"><br>
    性别:
    <input type="radio" name="gender" value="A"> 男性
    <input type="radio" name="gender" value="B"> 女性<br>
    兴趣:
    <INPUT TYPE=checkbox name="gender" value="A"> 游泳
    <input type=checkbox name="gender" value="B"> 飞盘
    <input type=checkbox name="gender" value="B"> 打球<br>
    自我介绍:
    <textarea name="mytext" rows="2" cols="20" required>
</textarea>

    <br>
    liubi:
    <INPUT TYPE=checkbox NAME=名稱 VALUE=a>
    <br />




</html>

